@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    text-align: center;
}

nav a {
    color:  #396E94;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #1446A0;
    color: #EE7B30;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    /*font-size: 22px;*/
    margin: 0;
    padding: 0;
}
header {
    background-color:#FFF7F8;
    display: flex;
}

.home-title {
    color: #1446A0;
    /*font-family: Roboto, Helvetica, sans-serif;*/
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #1446A0;
}

.book, .join {
    color:#EE7B30;
    background-color: #1446A0;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color:#ffffff;
    background-color:#EE7B30;
}

.msg {
    background-color: grey;
    margin-bottom: 100px;
}

.msg h2 {
    color:#396E94;
    margin-top: 50px;
}

.msg p {
    color:#396E94;
    line-height: 1.5em;
    margin-top: 50px;
}

footer {
    background-color: #80D39B;
}

footer a {
    text-align: center;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
    
}

footer a:hover {
    text-align: center;
    text-decoration: underline;
}

.logo img {
    width: 100px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

#background {
    background-color: #d9c2a3;
    margin-bottom:150px;
}

.mountains {
    margin-bottom: 150px;
}