@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --heading-font: "Roboto & Family";
    --paragraph-font: sans-serif;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

.logo {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    padding-top: 15px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #9F193A;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}

nav a:hover {
    background-color: black;
    color:#E7E5DF;
}

.join {
    text-align: center;
}

.heros {
    background-color: ghostwhite;
    padding-top: 20px;
}

#hero-msg h1 {
    text-align: center;
    color: #9F193A;
}

#hero-msg h3 {
    text-align: center;
    color: #9F193A; 
}
#hero-msg h4 {
    text-align: center;
    color:#9F193A;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
}

.accomodation-card {
    grid-column: 1;
}

.accomodation-card, h2 {
    text-align: center;
}

.bar-card, h2 {
    text-align: center;
}

.home-grid, h4 {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.pool-card {
    text-align: center;
}

.heading {
    padding-top:2rem;
    text-align: center;
    color: #9F193A; 
}
section {
    padding-bottom: 7rem;
}

footer {
    background-color:#E8871E;
    padding: 30px 50px;
    margin-top: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-align: center;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
    
}

footer a:hover {
    text-align: center;
    text-decoration: underline;
}

#Heros {
    background-color: ghostwhite;
    padding:5rem;
}

#Heros, #hero-msg, .join {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #E7E5DF;
}

.join {
    background-color: black;
    padding: 12px 30px;
    border-radius: 5px;
}

.join:hover {
    color:#9F193A;
    background-color:#E8871E;
}